# this is where i store my supabase keys i use for development, these ended up being the only api keys i needed.
# i store my keys for prod in the vercel environment variable settings
NEXT_PUBLIC_SUPABASE_URL=<your-supabase-url>
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=<your-supabase-publishable-key>