# this is where i store my supabase keys i use for development, these ended up being the only api keys i needed.
# i store my keys for prod in the vercel environment variable settings
NEXT_PUBLIC_SUPABASE_URL=<your-supabase-url>
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=<your-supabase-publishable-key>
RESEND_API_KEY=<your-resend-api-key> # same key used in the supabase for sending emails (has to be added here seperately)
INVITE_FROM_EMAIL=<your-email-for-sending-invites> # will need a domain email for this (ideally same as deployment url)
NEXT_PUBLIC_APP_URL=<deployment-url>